.SearchBar-container {
  display: flex;
  height: 80px;
  width: 700px;
  flex: 1 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

.TextInput-container {
  height: 100%;
  flex: 3;
  background-color: white;
  color: #404040;
  font-size: 25px;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.TextInput-container:focus {
  outline: none;
}

.button-container {
  height: 100%;
  background-color: rgb(148, 198, 206);
  color: white;
  flex: 1;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

.button-container:hover {
  background-color: rgb(255, 199, 78);
  transition: 0.2s;
}
