.App {
  text-align: center;
}

body {
  background: rgb(18, 18, 59);
  background: linear-gradient(
    0deg,
    rgb(150, 200, 209) 0%,
    rgb(255, 255, 255) 100%
  );
  background-attachment: fixed;
  color: rgb(73, 134, 145);
}

h1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(148, 198, 206);
  width: 90%;
}
